In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("../"))

['.anaconda', '.conda', '.condarc', '.ipynb_checkpoints', '.ipython', '.jupyter', '.matplotlib', '3D Objects', 'AppData', 'Apple', 'Application Data', 'Autodesk', 'Contacts', 'Cookies', 'Desktop', 'Documents', 'Downloads', 'Favorites', 'Intel', 'IntelGraphicsProfiles', 'Links', 'Local Settings', 'MicrosoftEdgeBackups', 'Music', 'NetHood', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{7011ce5c-134f-11e9-8691-005056c00008}.TM.blf', 'NTUSER.DAT{7011ce5c-134f-11e9-8691-005056c00008}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{7011ce5c-134f-11e9-8691-005056c00008}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'OneDrive', 'Pictures', 'PrintHood', 'Python', 'Recent', 'Saved Games', 'Searches', 'SendTo', 'Videos', 'главное меню', 'Мои документы', 'Шаблоны']

In [311]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [35]:
len(data)

1890

# Предобработка датасета

In [14]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [15]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
s=data[(data['budget']==data['budget'].max())]['original_title'].values[0]
answer_ls.append(s)
#display(answer_ls)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [16]:
s=data[(data['runtime']==data['runtime'].max())]['original_title'].values[0]
answer_ls.append(s)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [17]:
s=data[(data['runtime']==data['runtime'].min())]['original_title'].values[0]
s=answer_ls.append(s)
print(answer_ls)

["The Warrior's Way", 'Gods and Generals', 'Winnie the Pooh']

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [18]:
s=int(round(data['runtime'].mean(),0))
answer_ls.append(s)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [19]:
s=int(round(data['runtime'].median(),0))
answer_ls.append(s)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [20]:
s=data[data['revenue']==data['revenue'].max()]['original_title'].values[0]
answer_ls.append(s)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [21]:
s=data[data['revenue']-data['budget']==(data['revenue']-data['budget']).min()]['original_title'].values[0]
answer_ls.append(s)
list(answer_ls)

["The Warrior's Way",
 'Gods and Generals',
 'Winnie the Pooh',
 110,
 106,
 'Avatar',
 "The Warrior's Way"]

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [23]:
s=data[data['revenue']-data['budget']>0].count().values[0]
answer_ls.append(s)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [24]:
data2=data[data['release_year']==2008]
s=data2[(data2['revenue']-data2['budget']==(data2['revenue']-data2['budget']).max()) ]['original_title'].values[0]
answer_ls.append(s)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [25]:
data2=data[(data['release_year']>=2012) & (data['release_year']<=2014)]
s=data2[(data2['revenue']-data2['budget']==(data2['revenue']-data2['budget']).min()) ]['original_title'].values[0]
answer_ls.append(s)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [26]:
data['genres']
list_genres=[]
for i in data['genres']:
    for j in i.split('|'):
        list_genres.append(j)
list_genres=Counter(list_genres)
max_list=max(list_genres.values())
for i,j in list_genres.items():
    if j==max_list:
        str_genres=i
        break
print(str_genres)
answer_ls.append(str_genres)
#list_genres[max(list_genres.values())]

Drama

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [27]:
data[(data['revenue']-data['budget'])>0]['genres']
list_genres=[]
for i in data['genres']:
    for j in i.split('|'):
        list_genres.append(j)
list_genres=Counter(list_genres)
max_list=max(list_genres.values())
for i,j in list_genres.items():
    if j==max_list:
        str_genres=i
        break
print(str_genres)
answer_ls.append(str_genres)
#answer_ls.append(1)

Drama

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [28]:
list_=data['director'].value_counts()
max_list=data['director'].value_counts().max()
for i,j in list_.items():
    if j==max_list:
        str_genres=i
        break
print(str_genres)
answer_ls.append(str_genres)

Steven Soderbergh

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [29]:
list_=data[(data['revenue']-data['budget'])>0]['director'].value_counts()
max_list=data[(data['revenue']-data['budget'])>0]['director'].value_counts().max()
for i,j in list_.items():
    if j==max_list:
        str_genres=i
        break
    

print(str_genres,max_list)
answer_ls.append(str_genres)

#answer_ls.append(1)

Ridley Scott 12

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [30]:
data2=data.groupby('director').sum()
data2['prib']=data2['revenue']-data2['budget']
data2=data2[data2['prib']==data2['prib'].max()]
data2.index[0]
#data2.iloc[[0]]
#ata2[(data2['revenue']-data['budget'])==(data2['revenue']-data['budget'])]['director'].groupby('director').sum()
answer_ls.append(data2.index[0])

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [31]:
data2=data
data2['prib']=data2['revenue']-data2['budget']
data2.head(2)
list1_=[]
list2_=[]
s=0
for index,row in data2.iterrows():
    for i in data2['cast'][index].split('|'):
        list1_.append(i)
        list2_.append(row['prib'])
        s=s+1
data_list = {'cast':list1_, 'profit':list2_}
data_list
df = pd.DataFrame(data_list)
df
df=df.groupby('cast').sum()
s=df[df['profit']==df['profit'].max()].index[0]
answer_ls.append(s)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [32]:
data2=data
data2['prib']=data2['revenue']-data2['budget']
data2=data2[data2['release_year']==2012]
data2.head(2)
list1_=[]
list2_=[]
s=0
for index,row in data2.iterrows():
    for i in data2['cast'][index].split('|'):
        list1_.append(i)
        list2_.append(row['prib'])
        s=s+1
data_list = {'cast':list1_, 'profit':list2_}
data_list
df = pd.DataFrame(data_list)
df
df=df.groupby('cast').sum()
s=df[df['profit']==df['profit'].min()].index[0]
#print(s)
answer_ls.append(s)
#answer_ls.append(1)

In [33]:
data2.head(2)
data2[data2['release_year']==2012].head(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,prib
971,tt0848228,7.637767,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,8903,7.3,2012,1299557910
972,tt1496025,7.031452,70000000,132400000,Underworld: Awakening,Kate Beckinsale|Stephen Rea|Michael Ealy|Theo ...,MÃ¥ns MÃ¥rlind|BjÃ¶rn Stein,Vengeance Returns,After being held in a coma-like state for fift...,88,Fantasy|Action|Horror,Lakeshore Entertainment|Saturn Films|Screen Ge...,1/19/2012,1426,6.0,2012,62400000

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [121]:
#data2=data
#data2['prib']=data2['revenue']-data2['budget']
#data2=data2[data2['release_year']==2012]
list1_=[]
list2_=[]
s=0
for index,row in data2.iterrows():
    for i in data['cast'][index].split('|'):
        list1_.append(i)
        list2_.append(row['original_title'])
        s=s+1
data_list = {'cast':list1_, 'original_title':list2_}
#data_list
df =pd.DataFrame(data_list) #9443

df_merge=df.merge(data2, how='inner', left_on='original_title', right_on='original_title')
max_list=df_merge[df_merge['budget']>df_merge['budget'].mean()]['cast_x'].value_counts().max()
counter_df=Counter(df_merge[df_merge['budget']>df_merge['budget'].mean()]['cast_x'])
for i,j in counter_df.items():
    if j==max_list:
        
        str_genres=i
        break
print(str_genres,max_list)
#display(a.tail(5),df.duplicated())
#answer_ls.append(str_genres)

Matt Damon 18

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [155]:
df_cast =pd.DataFrame(data_list) #9443
#display(df_cast)
list1_=[]
list2_=[]
for index,row in data.iterrows():
    for i in data['genres'][index].split('|'):
        list1_.append(i)
        list2_.append(row['original_title'])
        s=s+1
data_list2 = {'genres':list1_, 'original_title':list2_}
df_generes =pd.DataFrame(data_list2) #9443
#df_cast =pd.DataFrame(data_list) #9443

df_merge=df_cast.merge(df_generes, how='left', left_on='original_title', right_on='original_title')
df_merge
max_list=df_merge[df_merge['cast']=='Nicolas Cage']['genres'].value_counts().max()
counter_df=(df_merge[df_merge['cast']=='Nicolas Cage']['genres'].value_counts())
for i,j in counter_df.items():
    if j==max_list:
        
        str_genres=i
        break
print(str_genres,max_list)
#display(df_generes)
answer_ls.append(str_genres)

Action 17

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [165]:
data.head(2)
def create_lst(colum1,colum2,name_df):
    list1_=[]
    list2_=[]
    s=0
    for index,row in data.iterrows():
        for i in data[colum1][index].split('|'):
            list1_.append(i)
            list2_.append(row[colum2])
            s=s+1
    name_df = {colum1:list1_, colum2:list2_}
    name_df =pd.DataFrame(name_df) #9443
    return(name_df)
df_comp=create_lst('production_companies','original_title','df_comp')

df_merge=df_comp.merge(data, how='left', left_on='original_title', right_on='original_title')
df_merge.head(2)
df_merge
max_list=df_merge['production_companies_x'].value_counts().max()
counter_df=(df_merge['production_companies_x'].value_counts())
for i,j in counter_df.items():
    if j==max_list:
        
        str_genres=i
        break
print(str_genres,max_list)

answer_ls.append(str_genres)

Universal Pictures 173

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [196]:
data.head(2)
def create_lst(data_set,colum1,colum2,name_df):
    
    list1_=[]
    list2_=[]
    s=0
    for index,row in data_set.iterrows():
        for i in data_set[colum1][index].split('|'):
            list1_.append(i)
            list2_.append(row[colum2])
            s=s+1
    name_df = {colum1:list1_, colum2:list2_}
    name_df =pd.DataFrame(name_df) #9443
    return(name_df)
def result_merge(df_merge,str_return,option=''):
    str_genres=""
    if option=='':
        max_list=df_merge[str_return].value_counts().max()
        counter_df=(df_merge[str_return].value_counts())
    else:
        max_list=df_merge[option][str_return].value_counts().max()
        counter_df=(df_merge[option][str_return].value_counts())
    for i,j in counter_df.items():
        if j==max_list:
            str_genres=i
        break
    return(str_genres,max_list)
    #return(df_merge)

data_set=data[data['release_year']==2015]
df_company=create_lst(data_set,'production_companies','original_title','df_comp')
#print (df_company)
df_merge=df_company.merge(data, how='left', left_on='original_title', right_on='original_title')
    
res=result_merge(df_merge,'production_companies_x')


#res
print(res[0])



#answer_ls.append(res[0])

Warner Bros.

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [256]:
#data_set=data[data['release_year']==2015]
data_set=data
df_company=create_lst(data_set,'production_companies','original_title','df_comp')
df_genres=create_lst(data_set,'genres','original_title','df_genres')
df_genres.count()
#print (df_company)
df_merge_m=df_company.merge(df_genres, how='left', left_on='original_title', right_on='original_title')
df_merge_m
#res=result_merge(df_company,f_genres,'original_title','production_companies_x')
df_merge=df_merge_m.merge(data, how='left', left_on='original_title', right_on='original_title')
df_merge.head(2)
#res=result_merge(df_company,f_genres,'original_title','production_companies_x')
option="df_merge['prib']==df_merge['prib'].max()"
#res=result_merge(df_merge,'production_companies_x',)
#res
#print(res[0])
max_list=df_merge[df_merge['prib']==df_merge['prib'].max()]['production_companies_x'].value_counts().max()
counter_df=(df_merge[df_merge['prib']==df_merge['prib'].max()]['production_companies_x'].value_counts())
str_genres=""
for i,j in counter_df.items():
    if j==max_list:
        str_genres=i
    break
#
df_merge_=df_merge[df_merge['genres_x']=='Comedy']
df_merge_.head(2)
asd=df_merge_.groupby('production_companies_x').sum()
#asd.sort_values('prib',ascending=False)
asd[asd['prib']==asd['prib'].max()].index[0]
#asd.index[0]
#df_merge.head(10)
#counter_df
#df_merge['prib'].max()
#df_merge[df_merge['prib']==df_merge['prib'].max()].head(2)
#print(str_genres,max_list)
#df_merge[df_merge['genres']=='Comedy']['prib'].sum()

answer_ls.append(asd[asd['prib']==asd['prib'].max()].index[0])

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [263]:
data_set=data[data['release_year']==2012]
#data_set=data
df_company=create_lst(data_set,'production_companies','original_title','df_comp')
df_genres=create_lst(data_set,'genres','original_title','df_genres')
df_genres.count()
df_merge_m=df_company.merge(df_genres, how='left', left_on='original_title', right_on='original_title')
df_merge_m
df_merge=df_merge_m.merge(data, how='left', left_on='original_title', right_on='original_title')
df_merge.head(2)
asd=df_merge.groupby('production_companies_x').sum()
asd
asd[asd['prib']==asd['prib'].max()].index[0]
answer_ls.append(asd[asd['prib']==asd['prib'].max()].index[0])

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [275]:
#data_set=data[data['production_companies']=='Paramount Pictures']
data_set=data
df_company=create_lst(data_set,'production_companies','original_title','df_comp')
df_genres=create_lst(data_set,'genres','original_title','df_genres')
df_genres.count()
df_merge_m=df_company.merge(df_genres, how='left', left_on='original_title', right_on='original_title')
df_merge_m
df_merge=df_merge_m.merge(data, how='left', left_on='original_title', right_on='original_title')
df_merge.head(2)
asd=df_merge[df_merge['production_companies_x']=='Paramount Pictures'].groupby('original_title').sum()
asd
y=asd[asd['prib']==asd['prib'].min()].index[0]
answer_ls.append(y)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [283]:
data.head(2)
data2=data.groupby('release_year').sum()
y=data2[data2['prib']==data2['prib'].max()].index[0]
answer_ls.append(y)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [297]:
data.head(2)
df_company=create_lst(data_set,'production_companies','original_title','df_comp')
#df_genres=create_lst(data_set,'genres','original_title','df_genres')
#df_genres.count()
df_company
df_merge_m=df_company.merge(data, how='left', left_on='original_title', right_on='original_title')
asd=df_merge_m[df_merge_m['production_companies_x'].str.contains('Warner Bros', na = False)].groupby('release_year').sum()
#df_merge=df_merge_m.merge(data, how='left', left_on='original_title', right_on='original_title')
#df_merge.head(2)
#df_merge[df_merge['production_companies_x']=='Paramount Pictures'].groupby('original_title').sum()
#asd
y=asd[asd['prib']==asd['prib'].max()].index[0]

#data2=data[data[.groupby('release_year').sum()
#data2[data2['prib']==data2['prib'].max()].index[0]
answer_ls.append(y)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [343]:
#answer_ls.append(1)
#df_month=create_lst(data_set,'production_companies','original_title','df_comp')
#list1_=[]
#list2_=[]
#s=0
data2=data
data2['profit']=data2['revenue']-data2['budget']
data2['release_month']=data2['release_date'].str.split(r'/').str[0]
asd=data2.groupby('release_month').count()
asd['original_title']
max_list=asd['original_title'].max()
#counter_df=asd['original_title']
counter_df=asd['original_title']
str_genres=""
for i,j in counter_df.items():
    #print(i,j)
    if j==max_list:
        #print(i,j)
        str_genres=i
        break
#
print(str_genres)
#counter_df
#data2.head(2)
#df_merge_m=df_month.merge(data, how='left', left_on='original_title', right_on='original_title')
#df_merge_m.groupby('release_year_x').sum() str.split(r',\s*').str[0]
#df_month
#df_merge_m.head(2)
answer_ls.append(str_genres)

9

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [359]:
data2.head(2)
y=data2[(data2['release_month']=='6') | (data2['release_month']=='7') | (data2['release_month']=='8')]['original_title'].count()
answer_ls.append(y)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [384]:
data3=data2[(data2['release_month']=='12') | (data2['release_month']=='1') | (data2['release_month']=='2')]
data3.groupby('director')['original_title'].count()
max_list=data3.groupby('director')['original_title'].count().max()
#counter_df=asd['original_title']
counter_df=data3.groupby('director')['original_title'].count()
str_genres=""
for i,j in counter_df.items():
    #print(i,j)
    if j==max_list:
        #print(i,j)
        str_genres=i
        break
#
print(str_genres,max_list)
#data2.groupby(['release_year','director'])['original_title'].aggregate('count').unstack()
#data2.pivot_table('original_title', index='release_year', columns='director')
answer_ls.append(str_genres)

Peter Jackson 7

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [393]:
data2.head(2)
data2.groupby('release_month')['profit'].sum().max()
#answer_ls.append(1)
max_list=data2.groupby('release_month')['profit'].sum().max()
#counter_df=asd['original_title']
counter_df=data2.groupby('release_month')['profit'].sum()
str_genres=""
for i,j in counter_df.items():
    #print(i,j)
    if j==max_list:
        #print(i,j)
        str_genres=i
        break
#
print(str_genres,max_list)
answer_ls.append(str_genres)

6 27551262500

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [413]:
df_company=create_lst(data_set,'production_companies','original_title','df_comp')
#df_genres=create_lst(data_set,'genres','original_title','df_genres')
#df_genres.count()
df_company
df_merge_m=df_company.merge(data2, how='left', left_on='original_title', right_on='original_title')
df_merge_m.head(2)
#asd=
#df_merge_m[df_merge_m['len_original_title']>df_merge_m['len_original_title'].mean()]
df_merge_m.groupby('production_companies_x')['len_original_title'].mean().max()
max_list=df_merge_m.groupby('production_companies_x')['len_original_title'].mean().max()
counter_df=df_merge_m.groupby('production_companies_x')['len_original_title'].mean()
str_genres=""
for i,j in counter_df.items():
    #print(i,j)
    if j==max_list:
        #print(i,j)
        str_genres=i
        break
#
print(str_genres,max_list)
#df_company=create_lst(data_set,'production_companies','original_title','df_comp')
#data2['len_original_title']=data2['original_title'].apply(lambda x:len(x))
#sample.age.apply(lambda x:x+1)
#df_genres=create_lst(data_set,'genres','original_title','df_genres')
#df_genres.count()
#df_company
#df_merge_m=df_company.merge(data, how='left', left_on='original_title', right_on='original_title')
#df_merge_m[]
#print(y)
#data2.head(2)                           
answer_ls.append(str_genres)

Four By Two Productions 83.0

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [448]:
list1_=[]
list2_=[]
s=0
for index,row in data.iterrows():
    list1_.append(len(data['original_title'][index].split()))
    list2_.append(data['imdb_id'][index])
name_df = {'len_word_original_title':list1_, 'imdb_id':list2_}
name_df =pd.DataFrame(name_df) #9443
name_df.head(2)
df_merge_m=name_df.merge(data2, how='left', left_on='imdb_id', right_on='imdb_id')
df_company=create_lst(data_set,'production_companies','original_title','df_comp')
df_merge_m1=df_company.merge(df_merge_m, how='left', left_on='original_title', right_on='original_title')
#df_merge_m1.head(2)
df_company
df_merge_m1.head(2)
df_merge_m1.groupby('production_companies_x')['len_word_original_title'].mean().max()
max_list=df_merge_m1.groupby('production_companies_x')['len_word_original_title'].mean().max()
counter_df=df_merge_m1.groupby('production_companies_x')['len_word_original_title'].mean()
str_genres=""
for i,j in counter_df.items():
    #print(i,j)
    if j==max_list:
        #print(i,j)
        str_genres=i
        break
#
print(str_genres,max_list)
answer_ls.append(str_genres)

Four By Two Productions 12.0

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [463]:
data2.head(2)
list1_=[]
list2_=[]
s=0
for index,row in data2.iterrows():
    for i in data_set['original_title'][index].split():
        list1_.append(i.lower())
        #list2_.append(row[colum2])
        s=s+1
#name_df = {colum1:list1_, colum2:list2_}
#name_df =pd.DataFrame(name_df)
#name_df
#data2.head(2)
asd=set(list1_)
print(len(asd),len(list1_))
answer_ls.append(len(asd))

2461 5137

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [548]:
data.quantile(0.99)['vote_average']
asd=data[data['vote_average']>=data.quantile(0.99)['vote_average']]['original_title']

item = ["Inside Out, Gone Girl, 12 Years a Slave","BloodRayne, The Adventures of Rocky & Bullwinkle","The Lord of the Rings: The Return of the King","300, Lucky Number Slevin"]
for y in item:
    film=test(y,asd)
    if film!='':
        break
    
    
def test(item,asd):
    count=0
    item=item.split(', ')
    len_item=len(item)


    for i,j in asd.items():
    #print(j)
        if j in item:
            count=count+1
    
    if len_item==count:
        
        text=item
    return(text)
        
print(film)        

    #    companies.remove(item)
#asd.duplicates()
answer_ls.append(film)
#asd

['Inside Out', 'Gone Girl', '12 Years a Slave']

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [592]:
data.head(2)
d1={}
text_list=['Johnny Depp & Helena Bonham Carter','Hugh Jackman & Ian McKellen','Vin Diesel & Paul Walker','Adam Sandler & Kevin James','Daniel Radcliffe & Rupert Grint']
for text in text_list: 
    #print(text)
    text_l=text.split(' & ')
    count=0
    for i in data['cast']:
    
        for j in text_l:
        #print(i,j)
            if i.find(j)!=-1:
                count=count+1
    d1[count]=text
    
max(d1) 
d1[max(d1)]
d1
#print(get_key(d1, max(d1.values())))
#data.head(2)    
#answer_ls.append(d1[max(d1)])

{36: 'Johnny Depp & Helena Bonham Carter',
 30: 'Hugh Jackman & Ian McKellen',
 29: 'Vin Diesel & Paul Walker',
 31: 'Adam Sandler & Kevin James',
 20: 'Daniel Radcliffe & Rupert Grint'}

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [666]:
data2.head(2)
data2['pzr_profit']=data2['profit'].apply(lambda x: 1 if x>0 else 0)
data2['pzr_film']=1
count_film=data2.groupby('director')['pzr_film'].count()
count_profit_film=data2.groupby('director')['pzr_profit'].sum()
#print(count_film,count_profit_film)
#df1 = {'director:list1_, colum2:list2_}
df1 =pd.DataFrame(count_film)
df2 =pd.DataFrame(count_profit_film)#9443
df1
asd=df1.merge(df2,how='left', left_on='director', right_on='director')
asd['teor']=asd['pzr_profit']/asd['pzr_film']
asd.head(5)
asd[(asd['teor']==asd['teor'].max())]['pzr_film'].max()#data2.head(2)
max_list=asd[(asd['teor']==asd['teor'].max())]['pzr_film'].max()
counter_df=asd[(asd['teor']==asd['teor'].max())]['pzr_film']
str_genres=""
for i,j in counter_df.items():
    #print(i,j)
    if j==max_list:
        #print(i,j)
        str_genres=i
        break
#
#print(str_genres,max_list)
#asd[(asd[0]=='Christopher Nolan')]
a
#answer_ls.append(1)

AttributeError: 'DataFrame' object has no attribute 'key'

# Submission

In [6]:
len(answer_ls)

0

In [667]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id                                     Answer
0    1                          The Warrior's Way
1    2                          Gods and Generals
2    3                            Winnie the Pooh
3    4                                        110
4    5                                        106
5    6                                     Avatar
6    7                          The Warrior's Way
7    8                                       1478
8    9                                       1478
9   10                            The Dark Knight
10  11                            The Lone Ranger
11  12                                      Drama
12  13                                      Drama
13  14                          Steven Soderbergh
14  15                               Ridley Scott
15  16                              Peter Jackson
16  17                                Emma Watson
17  18                              Kirsten Dunst
18  19                                 Matt Damon
19  20                                     Action
20  21                         Universal Pictures
21  22                               Warner Bros.
22  23                         Universal Pictures
23  24                          Columbia Pictures
24  25                       K-19: The Widowmaker
25  26                                       2015
26  27                                       2014
27  28                                          9
28  29                                        450
29  30                              Peter Jackson
30  31                                          6
31  32                    Four By Two Productions
32  33                    Four By Two Productions
33  34                                       2461
34  35  [Inside Out, Gone Girl, 12 Years a Slave]
35  36         Johnny Depp & Helena Bonham Carter